### Environment variables ###
.env
.env.*
!.env.example

### OS / Editor ###
.DS_Store
Thumbs.db
.idea/
.vscode/

### Docker Volume ###
mysql-data/
kafka-data-local/

### certbot - 인증서 ###
docker/certbot/conf/**
!docker/certbot/conf/.gitkeep
